body{

}

.CO{
display: flex;
background-color: white;
justify-content: space-between;
}



.menu{
margin-right: 500px;

}

.menu ul{
    display: flex;
    
}

.menu ul li{
list-style-type: none;

}

.menu ul li a{
    text-decoration: none;
    margin-left: 20px;
}

.seccion1{
    background-image: url('../img/consolas.jpg');
}

.seccion2{
    text-align: center;
}
.cons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
}

.cons h2{

    text-align: center;
}
.consolass{
    box-shadow: 3px 3px 10px gray;
    display: flex;
    flex-direction: column;
}

.consolass img{
    height: auto;
    width: 100%;
}
