body{
background-color: teal;
}

.seccion1{
display: flex;
background-color: teal;
justify-content: space-between;
}

.menu ul{
    display: flex;
    
}

.menu ul li{
list-style-type: none;

}

.menu ul li a{
    text-decoration: none;
    margin-left: 20px;
}

.seccion2{
    text-align: center;
}
.cons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
}

.seccion3 h2{
    text-align: center;
}

.consolass p{
    text-align: center;
}

.consolass{
    box-shadow: 3px 3px 10px gray;
    display: flex;
    flex-direction: column;
}

.consolass img{
    height: auto;
    width: 100%;
}

.seccion4 img{
    height: 100%;
    width: auto;
}

.seccion4 p{
    text-align: center;
    padding: 200px;
    font-size: 30px;
}

.seccion4 h1{
    text-align: center;
    padding: 100px;
    font-size: 50px;
}
