body{
background-color: teal;
}

.caja{
    padding: 10px;
    border: 2px solid black;
}
.seccion1{
margin-top: 100px;
display: flex;
background-color: gainsboro;
justify-content: space-between;
background-repeat: no-repeat;
background-size: 2000px;
}

.seccion1 h1{
    margin-left: 10px;
}

.menu ul{
    display: flex;
    margin-right: 10px;
    
}

.menu ul li{
list-style-type: none;

}

.menu ul li a{
    text-decoration: none;
    margin-left: 20px;
}

.seccion2{
    text-align: center;
    background: url(../img/consolas.jpg);
    background-repeat: no-repeat;
    background-size: 1800px;
    align-items: center;
    justify-items: center;
    background-color: gainsboro;

}

.seccion2 h1{
    padding-top: 150px;
    font-size: 200px;
   
}

.seccion2 h2{
    
    font-size: 70px;
}
.cons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
}

.seccion3 {
    padding-top: 50px;
    background-color: gainsboro;
    padding-bottom: 100px;
}
.seccion3 h2{
    text-align: center;
    
}

.consolass p{
    text-align: center;
}

.consolass{
    box-shadow: 3px 3px 10px gray;
    display: flex;
    flex-direction: column;
}

.consolass img{
    height: auto;
    width: 100%;
}
.seccion4{
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:100px;
    border: green solid 1px;
}


.seccion4 img{
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.seccion4 p{
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

.seccion4 h1{
    text-align: center;
    padding: 100px;
    font-size: 50px;
}

.seccion5{
    padding-top: 50px;
    background-color:gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion5 button{
    padding: 40px;
    width: 25%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.seccion5 input{
    padding: 40px;
    width: 40%;
}


 .seccion6{
    padding:100px 50px 100px 50px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
}

.social ul li a img{
    height: 30px;
}

.social ul{
    display: flex;
}
.social ul li{
    list-style-type: none;
}
.social ul li a{
    text-decoration: none;
    margin-left: 20px;
}

.menu2 ul{
    display: flex;
    font-size:px;
    color: gainsboro;
}
.menu2 ul li{
    list-style-type: none;
}
.menu2 ul li a{
    text-decoration: none;
    margin-left: 20px;
}


